{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.5em;
}

p {
}
.top {
    padding: 10px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.heading {
    font-weight: bold;
}