{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.5em;
}

p {
}
.top {
    padding: 10px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}
/* Left and right column */
.column.side {
    width: 10%;
}
/* Middle column */
.column.middle {
    width: 75%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.heading {
    font-weight: bold;
}